<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE hibernate-configuration PUBLIC

"-//Hibernate/Hibernate Configuration DTD//EN"

"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">

 

<hibernate-configuration>        

<session-factory>

      <property name="hibernate.connection.driver_class">com.mysql.cj.jdbc.Driver</property>

      <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/lms</property>

      <property name="hibernate.connection.username">root</property>

      <property name="hibernate.connection.password">Logesh88823</property>

      <property name="hibernate.connection.pool_size">10</property>

      <property name="show_sql">true</property>

      <property name="dialect">org.hibernate.dialect.MySQLDialect</property>

      <property name="hibernate.hbm2ddl.auto">update</property>                 

      <mapping resource="Admin.hbm.xml"/>
      
      <mapping resource="Book.hbm.xml"/>
      
      <mapping resource="PurchaseHistory.hbm.xml"/>
      
      <mapping resource="Subscription.hbm.xml"/>
      
      <mapping resource="User.hbm.xml"/>
      

</session-factory>

</hibernate-configuration>